@import "../../styles/vars";
.navbar {
  display: block;
  align-items: center;
  position: fixed;
  background-color: white;
  width: 100%;
  padding: 30px 30px 20px 30px;
  img {
    width: 120px;
  }

  .hamburger {
    float: right;
    border: none;
    outline: none;
    font-size: 30px;
    background-color: white;
    color: $Gray;
    transition: color 0.4s ease-in-out;
    &:focus,
    &:hover {
      outline: none;
      border: none;
    }
  }

  .hamburger-open {
    color: $DarkViolet;
  }

  .links {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    overflow: hidden;
    padding: 0;
    max-height: 0;
    background-color: white;
    transition: all 0.1s ease-in-out;
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      text-align: center;

      justify-content: center;

      .btn-Nav {
        background-color: transparent;
        color: $DarkViolet;
        border: none;
        outline: none;
        padding: 0;
        margin-top: 0;
        font-size: 20px;
        cursor: pointer;
        transition: opacity 0.3s;
        &:hover {
          opacity: 0.6;
        }
      }

      li {
        padding: 20px 0px;
        font-size: 19px;

        a {
          color: $DarkViolet;
          text-decoration: none;
          transition: opacity 0.3s;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }

  .open {
    max-height: 1000px;
    padding: 20px 0px;
  }
}
